In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

In [4]:
df=pd.read_excel("~/Documents/airline/Data_Train.xlsx")

In [5]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [6]:
df_train=df.copy()

In [7]:
df_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
df_test = pd.read_excel('Test_set.xlsx')
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [9]:
df_test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

# DROP NULL VALUES

In [10]:
df_train.dropna(inplace=True)

In [11]:
df_test.dropna(inplace=True)

In [12]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [13]:
df_test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [14]:
df["date_of_Journey"]=pd.to_datetime(df["Date_of_Journey"])

In [15]:
df_test["date_of_Journey"]=pd.to_datetime(df_test["Date_of_Journey"])

In [16]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,2019-03-24
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019-01-05
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,2019-12-05
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,2019-01-03

In [17]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,date_of_Journey
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,2019-06-06
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,2019-12-05
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,2019-05-21
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,2019-05-21
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,2019-06-24

In [18]:
df.dtypes

Airline                    object
Date_of_Journey            object
Source                     object
Destination                object
Route                      object
Dep_Time                   object
Arrival_Time               object
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
date_of_Journey    datetime64[ns]
dtype: object

In [19]:
df['date_of_Journey'].dt.year.unique()

array([2019], dtype=int64)

In [20]:
#every one is from 2019

In [21]:
df['date_of_Journey'].dt.month.unique()

array([ 3,  1,  9, 12,  6,  5,  4], dtype=int64)

In [22]:
df[df['date_of_Journey'].dt.month==9]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06
13,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20 10 May,12h 10m,1 stop,In-flight meal not included,9663,2019-09-05
25,Jet Airways,9/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,12:35 10 Jun,15h 10m,2 stops,No info,13292,2019-09-06
50,Jet Airways,9/03/2019,Delhi,Cochin,DEL → COK,11:00,14:15,3h 15m,non-stop,In-flight meal not included,7202,2019-09-03
71,Jet Airways,09/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,08:15 13 Mar,26h 30m,1 stop,In-flight meal not included,9134,2019-09-03
...,...,...,...,...,...,...,...,...,...,...,...,...
10664,IndiGo,9/04/2019,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,non-stop,No info,4823,2019-09-04
10668,Jet Airways,9/05/2019,Delhi,Cochin,DEL → JDH → BOM → COK,11:40,19:00,7h 20m,2 stops,No info,21219,2019-09-05
10675,Air India,9/06/2019,Mumbai,Hyderabad,BOM → HYD,06:20,07:40,1h 20m,non-stop,No info,3100,2019-09-06
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,2019-09-04
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,2019-09-05

In [23]:
#Lets consider major festivals 'holi','deepawali','winter vacation','summer vacation','Durga Puja'

In [24]:
#21 march,2019 was holi in India
#27 oct deepawali
#4 oct durgapuja

In [32]:
def season(x):
    if ((x.month==3)&((x.day>=14)&(x.day<=28))):
    
        return 'season'
    if ((x.month==9)&((x.day>=27)&(x.day<=31))):
    
        return 'season'
    elif ((x.month==5)|(x.month==6)):
        return 'vacation'
    elif ((x.month==12)&((x.day>=20)&(x.day<=31))):q
    
        return 'vacation'
    elif ((x.month==1)&((x.day>=1)&(x.day<=10))):
    
        return 'vacation'
          
    else:
        return 'off'

In [33]:
df['season']=df['date_of_Journey'].apply(season)

In [34]:
df_test['season']=df_test['date_of_Journey'].apply(season)

In [35]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,2019-03-24,season
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019-01-05,vacation
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06,off
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,2019-12-05,off
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,2019-01-03,vacation

In [36]:
df['season'].value_counts()

vacation    5685
off         3635
season      1363
Name: season, dtype: int64

In [37]:
df["Journey_month"]=pd.to_datetime(df["date_of_Journey"]).dt.month
df["Journey_day"]=pd.to_datetime(df["date_of_Journey"]).dt.day

In [38]:
df_test["Journey_month"]=pd.to_datetime(df_test["date_of_Journey"]).dt.month
df_test["Journey_day"]=pd.to_datetime(df_test["date_of_Journey"]).dt.day

In [39]:
#1 jan 2019 is tuesday

In [40]:
#30 days list is
def multiplier(x):
    lst1=[4,6,9,11]
    if x in lst1:
        return 30
    elif (x==2):
        return 28
    else:
        return 31

In [41]:
def days(m,d):
    sum1=0
    for i in range(1,m):
        sum1+=multiplier(i)
    sum1+=d
    return sum1

In [42]:
def peak_day(day):
    if ((day%7>=4)&(day%7<=6)):
        return 'peak_day'
    else:
        return 'non_peak_day'

In [43]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,2019-03-24,season,3,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019-01-05,vacation,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06,off,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,2019-12-05,off,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,2019-01-03,vacation,1,3

In [44]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'date_of_Journey', 'season',
       'Journey_month', 'Journey_day'],
      dtype='object')

In [45]:
#365 days 
df['day']=df.apply(lambda x : days(x['Journey_month'],x['Journey_day']),axis=1)

In [46]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,2019-03-24,season,3,24,83
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019-01-05,vacation,1,5,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06,off,9,6,249
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,2019-12-05,off,12,5,339
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,2019-01-03,vacation,1,3,3

In [47]:
df['day_type']=df['day'].apply(peak_day)

In [48]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day,day_type
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,2019-03-24,season,3,24,83,peak_day
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019-01-05,vacation,1,5,5,peak_day
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,2019-09-06,off,9,6,249,peak_day
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,2019-12-05,off,12,5,339,non_peak_day
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,2019-01-03,vacation,1,3,3,non_peak_day

In [49]:
df_test['day']=df_test.apply(lambda x : days(x['Journey_month'],x['Journey_day']),axis=1)

In [50]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,date_of_Journey,season,Journey_month,Journey_day,day
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,2019-06-06,vacation,6,6,157
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,2019-12-05,off,12,5,339
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,2019-05-21,vacation,5,21,141
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,2019-05-21,vacation,5,21,141
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,2019-06-24,vacation,6,24,175

In [51]:
df_test['day_type']=df_test['day'].apply(peak_day)

In [52]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,date_of_Journey,season,Journey_month,Journey_day,day,day_type
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,2019-06-06,vacation,6,6,157,non_peak_day
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,2019-12-05,off,12,5,339,non_peak_day
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,2019-05-21,vacation,5,21,141,non_peak_day
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,2019-05-21,vacation,5,21,141,non_peak_day
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,2019-06-24,vacation,6,24,175,non_peak_day

In [53]:
df.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [54]:
df[df.Total_Stops.isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day,day_type
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480,2019-06-05,vacation,6,5,156,non_peak_day

In [55]:
df.Total_Stops.replace({"non-stop":0,"2 stops":2,"1 stop":1,"3 stops":3,"4 stops":4},inplace=True)

In [56]:
df_test.Total_Stops.replace({"non-stop":0,"2 stops":2,"1 stop":1,"3 stops":3,"4 stops":4},inplace=True)

In [57]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day,day_type
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0.0,No info,3897,2019-03-24,season,3,24,83,peak_day
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,No info,7662,2019-01-05,vacation,1,5,5,peak_day
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2.0,No info,13882,2019-09-06,off,9,6,249,peak_day
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,No info,6218,2019-12-05,off,12,5,339,non_peak_day
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,No info,13302,2019-01-03,vacation,1,3,3,non_peak_day

In [58]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,date_of_Journey,season,Journey_month,Journey_day,day,day_type
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,2019-06-06,vacation,6,6,157,non_peak_day
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1,No info,2019-12-05,off,12,5,339,non_peak_day
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,In-flight meal not included,2019-05-21,vacation,5,21,141,non_peak_day
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1,No info,2019-05-21,vacation,5,21,141,non_peak_day
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,2019-06-24,vacation,6,24,175,non_peak_day

In [59]:
def arri(x):
    lst = x.split(':')
    return float(lst[0])

In [60]:
df["Arrival"]=df["Arrival_Time"].map(arri)

In [61]:
df["Departure"]=df["Dep_Time"].map(arri)

In [62]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day,day_type,Arrival,Departure
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0.0,No info,3897,2019-03-24,season,3,24,83,peak_day,1.0,22.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,No info,7662,2019-01-05,vacation,1,5,5,peak_day,13.0,5.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2.0,No info,13882,2019-09-06,off,9,6,249,peak_day,4.0,9.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,No info,6218,2019-12-05,off,12,5,339,non_peak_day,23.0,18.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,No info,13302,2019-01-03,vacation,1,3,3,non_peak_day,21.0,16.0

In [63]:
df.drop(["Dep_Time","Arrival_Time"],axis=1,inplace=True)

In [64]:
df_test["Arrival"]=df_test["Arrival_Time"].map(arri)

df_test["Departure"]=df_test["Dep_Time"].map(arri)

df_test.drop(["Dep_Time","Arrival_Time"],axis=1,inplace=True)

In [65]:
df.drop(["day"],axis=1,inplace=True)
df_test.drop(["day"],axis=1,inplace=True)

In [66]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,date_of_Journey,season,Journey_month,Journey_day,day_type,Arrival,Departure
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,10h 55m,1,No info,2019-06-06,vacation,6,6,non_peak_day,4.0,17.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,4h,1,No info,2019-12-05,off,12,5,non_peak_day,10.0,6.0
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,23h 45m,1,In-flight meal not included,2019-05-21,vacation,5,21,non_peak_day,19.0,19.0
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,13h,1,No info,2019-05-21,vacation,5,21,non_peak_day,21.0,8.0
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,2h 50m,0,No info,2019-06-24,vacation,6,24,non_peak_day,2.0,23.0

In [67]:
df_test.shape

(2671, 15)

In [68]:
df_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'date_of_Journey',
       'season', 'Journey_month', 'Journey_day', 'day_type', 'Arrival',
       'Departure'],
      dtype='object')

In [69]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'date_of_Journey', 'season', 'Journey_month', 'Journey_day', 'day_type',
       'Arrival', 'Departure'],
      dtype='object')

In [70]:
df.shape

(10683, 16)

In [71]:
df[['H','M']]=df['Duration'].str.split(expand=True)

In [72]:
df.M.fillna('0',inplace=True)

In [73]:
df_test[['H','M']]=df_test['Duration'].str.split(expand=True)
    

df_test.M.fillna('0',inplace=True)

In [74]:
def minute(x):
    a=int(x[0])
    return a*60

df["H"]=df['H'].apply(minute)
df_test["H"]=df_test['H'].apply(minute)

In [75]:
def fetch(x):
    b=x.split('m')
    c=b[0]
    return c

df['M']=df['M'].apply(fetch)
df_test['M']=df_test['M'].apply(fetch)

In [76]:
df["H"]=df.H.astype("int64")
df["M"]=df.M.astype("int64")

In [77]:
df["Duration"]=df["H"]+df["M"]

In [78]:
df.drop(["H","M"],axis=1,inplace=True)

In [79]:
df_test["H"]=df_test.H.astype("int64")
df_test["M"]=df_test.M.astype("int64")

df_test["Duration"]=df_test["H"]+df_test["M"]

df_test.drop(["H","M"],axis=1,inplace=True)

In [80]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,date_of_Journey,season,Journey_month,Journey_day,day_type,Arrival,Departure
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,170,0.0,No info,3897,2019-03-24,season,3,24,peak_day,1.0,22.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,445,2.0,No info,7662,2019-01-05,vacation,1,5,peak_day,13.0,5.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,60,2.0,No info,13882,2019-09-06,off,9,6,peak_day,4.0,9.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,325,1.0,No info,6218,2019-12-05,off,12,5,non_peak_day,23.0,18.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,285,1.0,No info,13302,2019-01-03,vacation,1,3,non_peak_day,21.0,16.0

In [81]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,date_of_Journey,season,Journey_month,Journey_day,day_type,Arrival,Departure
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,115,1,No info,2019-06-06,vacation,6,6,non_peak_day,4.0,17.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,240,1,No info,2019-12-05,off,12,5,non_peak_day,10.0,6.0
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,165,1,In-flight meal not included,2019-05-21,vacation,5,21,non_peak_day,19.0,19.0
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,60,1,No info,2019-05-21,vacation,5,21,non_peak_day,21.0,8.0
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,170,0,No info,2019-06-24,vacation,6,24,non_peak_day,2.0,23.0

In [82]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'date_of_Journey', 'season', 'Journey_month', 'Journey_day', 'day_type',
       'Arrival', 'Departure'],
      dtype='object')

In [83]:
df_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'date_of_Journey',
       'season', 'Journey_month', 'Journey_day', 'day_type', 'Arrival',
       'Departure'],
      dtype='object')

In [84]:
df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [85]:
df.Additional_Info.replace({"No info":"No Info"},inplace=True)
df_test.Additional_Info.replace({"No info":"No Info"},inplace=True)

In [86]:
df.Additional_Info.value_counts()

No Info                         8348
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

In [87]:
df_test.Additional_Info.value_counts()

No Info                         2148
In-flight meal not included      444
No check-in baggage included      76
1 Long layover                     1
Business class                     1
Change airports                    1
Name: Additional_Info, dtype: int64

In [88]:
df.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [89]:
df.Destination.replace({"New Delhi":"Delhi"},inplace=True)

In [90]:
df_test.Destination.replace({"New Delhi":"Delhi"},inplace=True)

In [91]:
df.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [126]:
df_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'date_of_Journey',
       'season', 'Journey_month', 'Journey_day', 'day_type', 'Arrival',
       'Departure'],
      dtype='object')

In [127]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'date_of_Journey', 'season', 'Journey_month', 'Journey_day', 'day_type',
       'Arrival', 'Departure'],
      dtype='object')

In [129]:
df.drop('Route',axis=1,inplace=True)
df_test.drop('Route',axis=1,inplace=True)

KeyError: "['Route'] not found in axis"

In [196]:
df.drop('Date_of_Journey',axis=1,inplace=True)
df_test.drop('Date_of_Journey',axis=1,inplace=True)

In [197]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'season', 'Journey_month', 'Journey_day',
       'day_type', 'Arrival', 'Departure'],
      dtype='object')

In [198]:
ndf=pd.get_dummies(df,drop_first=True)

In [199]:
ndf_test=pd.get_dummies(df_test,drop_first=True)

In [200]:
ndf.drop(["Additional_Info_Red-eye flight","Additional_Info_2 Long layover","Additional_Info_1 Short layover"],axis=1,inplace=True)

In [201]:
ndf.head()

,Duration,Total_Stops,Price,Journey_month,Journey_day,Arrival,Departure,Airline_Air India,Airline_GoAir,Airline_IndiGo,...,Destination_Hyderabad,Destination_Kolkata,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,season_season,season_vacation,day_type_peak_day
0,170,0.0,3897,3,24,1.0,22.0,0,0,1,...,0,0,0,0,0,1,0,1,0,1
1,445,2.0,7662,1,5,13.0,5.0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
2,60,2.0,13882,9,6,4.0,9.0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,325,1.0,6218,12,5,23.0,18.0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,285,1.0,13302,1,3,21.0,16.0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

In [202]:
ndf.columns

Index(['Duration', 'Total_Stops', 'Price', 'Journey_month', 'Journey_day',
       'Arrival', 'Departure', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Additional_Info_Business class',
       'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included', 'season_season',
       'season_vacation', 'day_type_peak_day'],
      dtype='object')

In [203]:
ndf_test.head()

,Duration,Total_Stops,Journey_month,Journey_day,Arrival,Departure,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,...,Destination_Hyderabad,Destination_Kolkata,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,season_season,season_vacation,day_type_peak_day
0,115,1,6,6,4.0,17.0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,240,1,12,5,10.0,6.0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,165,1,5,21,19.0,19.0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,60,1,5,21,21.0,8.0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,170,0,6,24,2.0,23.0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [204]:
A = set(ndf.columns)
B = set(ndf_test.columns)
A-B

{'Airline_Trujet', 'Price'}

In [205]:
ndf.isnull().sum()[ndf.isnull().sum()>0]

Total_Stops    1
dtype: int64

In [206]:
ndf_test.isnull().sum()[ndf_test.isnull().sum()>0]

Series([], dtype: int64)

In [207]:
ndf=ndf.dropna()

In [208]:
ndf_test.isnull().sum()

Duration                                        0
Total_Stops                                     0
Journey_month                                   0
Journey_day                                     0
Arrival                                         0
Departure                                       0
Airline_Air India                               0
Airline_GoAir                                   0
Airline_IndiGo                                  0
Airline_Jet Airways                             0
Airline_Jet Airways Business                    0
Airline_Multiple carriers                       0
Airline_Multiple carriers Premium economy       0
Airline_SpiceJet                                0
Airline_Vistara                                 0
Airline_Vistara Premium economy                 0
Source_Chennai                                  0
Source_Delhi                                    0
Source_Kolkata                                  0
Source_Mumbai                                   0
Destination_Cochin                              0
Destination_Delhi                               0
Destination_Hyderabad                           0
Destination_Kolkata                             0
Additional_Info_Business class                  0
Additional_Info_Change airports                 0
Additional_Info_In-flight meal not included     0
Additional_Info_No Info                         0
Additional_Info_No check-in baggage included    0
season_season                                   0
season_vacation                                 0
day_type_peak_day                               0
dtype: int64

In [209]:
ndf.drop('Airline_Trujet', axis=1, inplace=True)

In [210]:
x=ndf.drop(["Price"],axis=1)
y=ndf.Price

In [211]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score,mean_squared_error
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.20,random_state=25)

In [212]:
xtest.shape

(2137, 32)

In [213]:
xtrain.shape

(8545, 32)

In [214]:
from sklearn.ensemble import RandomForestRegressor

In [215]:
rf=RandomForestRegressor()

In [216]:
mod=rf.fit(xtrain,ytrain).predict(xtest)

In [217]:
print("RScore",r2_score(ytest,mod))
print("RMSE",np.sqrt(mean_squared_error(ytest,mod)))

RScore 0.8746982053816164
RMSE 1683.7350835353525

In [218]:
mod

array([6455.525, 9713.19 , 6964.83 , ..., 3162.59 , 7355.08 , 2311.32 ])

In [219]:
rf.score(xtrain,ytrain)

0.9803796456061148

In [220]:
rf.score(xtest,ytest)

0.8746982053816164

In [221]:
fi=pd.DataFrame({"IMP":rf.feature_importances_,"Feature":xtrain.columns}).sort_values(by="IMP",ascending=False)

In [222]:
fi[fi['IMP']<0.003]

         IMP                                       Feature
30  0.002771                               season_vacation
19  0.001799                                 Source_Mumbai
22  0.001721                         Destination_Hyderabad
23  0.001422                           Destination_Kolkata
13  0.001358                              Airline_SpiceJet
12  0.001317     Airline_Multiple carriers Premium economy
16  0.001285                                Source_Chennai
7   0.001213                                 Airline_GoAir
24  0.000902                Additional_Info_Business class
25  0.000044               Additional_Info_Change airports
15  0.000030               Airline_Vistara Premium economy
28  0.000018  Additional_Info_No check-in baggage included

In [235]:
fi

         IMP                                       Feature
1   0.418938                                   Total_Stops
3   0.118325                                   Journey_day
9   0.088096                           Airline_Jet Airways
2   0.054708                                 Journey_month
0   0.049131                                      Duration
26  0.044990   Additional_Info_In-flight meal not included
4   0.044961                                       Arrival
10  0.041058                  Airline_Jet Airways Business
5   0.029470                                     Departure
11  0.022291                     Airline_Multiple carriers
27  0.012795                       Additional_Info_No Info
8   0.011856                                Airline_IndiGo
6   0.008891                             Airline_Air India
18  0.007844                                Source_Kolkata
29  0.007703                                 season_season
14  0.005917                               Airline_Vistara
21  0.005601                             Destination_Delhi
17  0.004998                                  Source_Delhi
31  0.004296                             day_type_peak_day
20  0.004252                            Destination_Cochin
30  0.002771                               season_vacation
19  0.001799                                 Source_Mumbai
22  0.001721                         Destination_Hyderabad
23  0.001422                           Destination_Kolkata
13  0.001358                              Airline_SpiceJet
12  0.001317     Airline_Multiple carriers Premium economy
16  0.001285                                Source_Chennai
7   0.001213                                 Airline_GoAir
24  0.000902                Additional_Info_Business class
25  0.000044               Additional_Info_Change airports
15  0.000030               Airline_Vistara Premium economy
28  0.000018  Additional_Info_No check-in baggage included

In [223]:
redundant=fi[fi['IMP']<0.0008].Feature

In [224]:
redundant

25                 Additional_Info_Change airports
15                 Airline_Vistara Premium economy
28    Additional_Info_No check-in baggage included
Name: Feature, dtype: object

In [225]:
imp=list(set(ndf.columns)-set(redundant))
x1=ndf.loc[:,imp].drop('Price',axis=1)
y1=ndf.Price

In [226]:
xtrain1,xtest1,ytrain1,ytest1 = train_test_split(x1,y1,test_size=.20,random_state=25)

In [227]:
rf1=RandomForestRegressor()
pred=rf1.fit(xtrain1,ytrain1).predict(xtest1)

In [228]:
print("RScore",r2_score(ytest1,pred))
print("RMSE",np.sqrt(mean_squared_error(ytest1,pred)))

RScore 0.870794259159288
RMSE 1709.7634190326482

In [229]:
def linearmodel_output(df):
        from sklearn.linear_model import Lasso
        from sklearn.linear_model import ElasticNet
        from sklearn.linear_model import Ridge
        from sklearn.linear_model import LinearRegression
        from sklearn.model_selection import cross_validate
        model1=Lasso(alpha=0.005)
        model2=Ridge(alpha=0.01)
        model3=ElasticNet(alpha=0.1,l1_ratio=0.2)
        model4=LinearRegression()
        
        x=df.drop('Price',axis=1)
        y=df.Price
        x_cross=x
        y_cross=y
        
        n=round(len(y_cross)/5)
        p=x_cross.shape[1]
        
        output_cross1=cross_validate(estimator=model1,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross2=cross_validate(estimator=model2,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross3=cross_validate(estimator=model3,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross4=cross_validate(estimator=model4,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        
        output_cross_df1=pd.DataFrame({'Train_score':output_cross1['train_score'],'Test_score':output_cross1['test_score'],
                                      'adjusted_r2':1-(1-output_cross1['test_score'])*(n-1)/(n-p-1)})
        output_cross_df2=pd.DataFrame({'Train_score':output_cross2['train_score'],'Test_score':output_cross2['test_score'],
                                      'adjusted_r2':1-(1-output_cross2['test_score'])*(n-1)/(n-p-1)})
        output_cross_df3=pd.DataFrame({'Train_score':output_cross3['train_score'],'Test_score':output_cross3['test_score'],
                                      'adjusted_r2':1-(1-output_cross3['test_score'])*(n-1)/(n-p-1)})
        output_cross_df4=pd.DataFrame({'Train_score':output_cross4['train_score'],'Test_score':output_cross4['test_score'],
                                      'adjusted_r2':1-(1-output_cross4['test_score'])*(n-1)/(n-p-1)})
                         
        output=pd.DataFrame({'model':['Lasso','Ridge','ElasticNet','LinearRegression'],'Train_output':[output_cross_df1['Train_score'].mean(),
        output_cross_df2['Train_score'].mean(),output_cross_df3['Train_score'].mean(),output_cross_df4['Train_score'].mean()],
        'Test_Output':[output_cross_df1['Test_score'].mean(),
        output_cross_df2['Test_score'].mean(),output_cross_df3['Test_score'].mean(),output_cross_df4['Test_score'].mean()],
         'adjusted_r2_test':[output_cross_df1['adjusted_r2'].mean(),
        output_cross_df2['adjusted_r2'].mean(),output_cross_df3['adjusted_r2'].mean(),output_cross_df4['adjusted_r2'].mean()]})
        return output

In [230]:
linearmodel_output(ndf)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 96642782.6012497, tolerance: 17933681.09419209
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 512973575.83340454, tolerance: 17990789.06961287
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 87226987.8033371, tolerance: 18182450.076523148
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 88625822.27954865, tolerance: 18560146.171137195
  model = cd_fast.enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 83227486.67897034, tolerance: 18188685.69406531
  model = cd_fast.enet_coordinate_descent(

              model  Train_output  Test_Output  adjusted_r2_test
0             Lasso      0.671039     0.666379          0.661303
1             Ridge      0.671039     0.666401          0.661324
2        ElasticNet      0.557059     0.556102          0.549347
3  LinearRegression      0.671039     0.666382          0.661306

In [231]:
def bagging_boosting_models(df):
        x=df.drop('Price',axis=1)
        y=df.Price
        x_cross=x
        y_cross=y
        from sklearn.tree import DecisionTreeRegressor
        from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
        from xgboost import XGBRegressor
        from sklearn.model_selection import cross_validate
        model1=DecisionTreeRegressor(max_depth=5)
        model2=RandomForestRegressor()
        model3=GradientBoostingRegressor()
        model4=AdaBoostRegressor()
        model5=XGBRegressor()
        
        n=round(len(y_cross)/5)
        p=x_cross.shape[1]
        
        output_cross1=cross_validate(estimator=model1,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross2=cross_validate(estimator=model2,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross3=cross_validate(estimator=model3,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross4=cross_validate(estimator=model4,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        output_cross5=cross_validate(estimator=model5,X=x_cross,y=y_cross,cv=5,return_train_score=True)
        
        #Adjusted_r_squared
        #1-(1-r**2)*(n-1)/(n-p-1)
        
        output_cross_df1=pd.DataFrame({'Train_score':output_cross1['train_score'],'Test_score':output_cross1['test_score'],
                                'adjusted_r2':1-(1-output_cross1['test_score'])*(n-1)/(n-p-1)})
        output_cross_df2=pd.DataFrame({'Train_score':output_cross2['train_score'],'Test_score':output_cross2['test_score'],
                                'adjusted_r2':1-(1-output_cross2['test_score'])*(n-1)/(n-p-1)})
        output_cross_df3=pd.DataFrame({'Train_score':output_cross3['train_score'],'Test_score':output_cross3['test_score'],
                                'adjusted_r2':1-(1-output_cross3['test_score'])*(n-1)/(n-p-1)})
        output_cross_df4=pd.DataFrame({'Train_score':output_cross4['train_score'],'Test_score':output_cross4['test_score'],
                                'adjusted_r2':1-(1-output_cross4['test_score'])*(n-1)/(n-p-1)})
        output_cross_df5=pd.DataFrame({'Train_score':output_cross5['train_score'],'Test_score':output_cross5['test_score'],
                                'adjusted_r2':1-(1-output_cross5['test_score'])*(n-1)/(n-p-1)})
                                       
        
        
        output=pd.DataFrame({'model':['DecisionTree','RandomForest','GradientBoosting','AdaBoost','XGBoost'],'Train_output':[output_cross_df1['Train_score'].mean(),
        output_cross_df2['Train_score'].mean(),output_cross_df3['Train_score'].mean(),output_cross_df4['Train_score'].mean(),
        output_cross_df5['Train_score'].mean()],
        'Test_Output':[output_cross_df1['Test_score'].mean(),
        output_cross_df2['Test_score'].mean(),output_cross_df3['Test_score'].mean(),output_cross_df4['Test_score'].mean(),
        output_cross_df5['Test_score'].mean()],
        'adjusted_r2_test':[output_cross_df1['adjusted_r2'].mean(),
        output_cross_df2['adjusted_r2'].mean(),output_cross_df3['adjusted_r2'].mean(),output_cross_df4['adjusted_r2'].mean(),
        output_cross_df5['adjusted_r2'].mean()]
        })
        return output

In [232]:
ndf.columns

Index(['Duration', 'Total_Stops', 'Price', 'Journey_month', 'Journey_day',
       'Arrival', 'Departure', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included', 'season_season',
       'season_vacation', 'day_type_peak_day'],
      dtype='object')

In [233]:
bagging_boosting_models(ndf)

              model  Train_output  Test_Output  adjusted_r2_test
0      DecisionTree      0.785011     0.757083          0.753386
1      RandomForest      0.981043     0.890546          0.888880
2  GradientBoosting      0.833139     0.818756          0.815998
3          AdaBoost      0.209307     0.187706          0.175346
4           XGBoost      0.968288     0.892228          0.890588

In [237]:
bagging_boosting_models(ndf.loc[:,imp])

              model  Train_output  Test_Output  adjusted_r2_test
0      DecisionTree      0.785011     0.757992          0.754659
1      RandomForest      0.981096     0.891607          0.890115
2  GradientBoosting      0.832941     0.819160          0.816670
3          AdaBoost      0.205245     0.187745          0.176561
4           XGBoost      0.968853     0.889482          0.887960

In [238]:
redundant=fi[fi['IMP']<0.0001].Feature
imp=list(set(ndf.columns)-set(redundant))
redundant

25                 Additional_Info_Change airports
15                 Airline_Vistara Premium economy
28    Additional_Info_No check-in baggage included
Name: Feature, dtype: object

In [239]:
bagging_boosting_models(ndf.loc[:,imp])

              model  Train_output  Test_Output  adjusted_r2_test
0      DecisionTree      0.785011     0.757083          0.753738
1      RandomForest      0.980949     0.890274          0.888763
2  GradientBoosting      0.832941     0.818798          0.816302
3          AdaBoost      0.206111     0.191636          0.180504
4           XGBoost      0.968853     0.889482          0.887960

In [240]:
ndf.loc[:,imp].columns

Index(['Source_Kolkata', 'Additional_Info_No Info', 'Source_Mumbai', 'Arrival',
       'Journey_month', 'Additional_Info_In-flight meal not included',
       'Airline_Vistara', 'Departure', 'Airline_IndiGo', 'Destination_Cochin',
       'Airline_Multiple carriers Premium economy', 'Price', 'Total_Stops',
       'Destination_Hyderabad', 'Destination_Delhi', 'season_season',
       'Additional_Info_Business class', 'Airline_SpiceJet', 'Journey_day',
       'day_type_peak_day', 'Airline_Jet Airways', 'season_vacation',
       'Airline_Multiple carriers', 'Destination_Kolkata', 'Airline_GoAir',
       'Airline_Jet Airways Business', 'Source_Chennai', 'Airline_Air India',
       'Source_Delhi', 'Duration'],
      dtype='object')

In [241]:
#This is our final dataset
x2=ndf.drop('Price',axis=1)
y2=ndf.Price

In [242]:
from sklearn.model_selection import train_test_split
xtrain2,xtest2,ytrain2,ytest2=train_test_split(x2,y2,random_state=25,test_size=.20)

In [243]:
rf2=RandomForestRegressor()
pred1=rf2.fit(xtrain2,ytrain2).predict(xtest2)

In [244]:
from xgboost import XGBRegressor
xgb=XGBRegressor()
pred2=xgb.fit(xtrain2,ytrain2).predict(xtest2)

In [245]:
r2_score(ytest2,pred2)

0.8817942082089985

In [246]:
1 - np.sqrt(np.square(np.log10(pred1+1) - np.log10(ytest2 +1)).mean())

0.9436991500608383

In [247]:
1 - np.sqrt(np.square(np.log10(pred2+1) - np.log10(ytest2 +1)).mean())

0.9422917062240582

In [248]:
rf_fit2=RandomForestRegressor(n_estimators=100,random_state=20)
pred_rf2=rf_fit2.fit(xtrain2,ytrain2).predict(xtest2)
pred_rf_train2=rf_fit2.fit(xtrain2,ytrain2).predict(xtrain2)
print('r2_score_rf',r2_score(ytest2,pred_rf2))
print('r2_score_rf_train',r2_score(ytrain2,pred_rf_train2))

r2_score_rf 0.8726739295499032
r2_score_rf_train 0.9813093553017909

In [249]:
model1=RandomForestRegressor()
x_cross=ndf.drop('Price',axis=1)
y_cross=ndf.Price
n=round(len(y_cross)/5)
p=x_cross.shape[1]

In [251]:
from sklearn.model_selection import cross_validate

In [252]:
 output_cross1=cross_validate(estimator=model1,X=x_cross,y=y_cross,cv=5,return_train_score=True)

In [255]:
output_cross_df1=pd.DataFrame({'Train_score':output_cross1['train_score'],'Test_score':output_cross1['test_score'],
                                'adjusted_r2':1-(1-output_cross1['test_score'])*(n-1)/(n-p-1)})
output_cross_df1

   Train_score  Test_score  adjusted_r2
0     0.981492    0.871051     0.869089
1     0.981737    0.880252     0.878430
2     0.980070    0.913891     0.912581
3     0.981497    0.903613     0.902146
4     0.980266    0.879374     0.877539

In [256]:
print('Train_score_mean',output_cross_df1['Train_score'].mean())
print('Test_score_mean',output_cross_df1['Test_score'].mean())

Train_score_mean 0.98101249767635
Test_score_mean 0.8896362876911595

In [257]:
output_cross1=cross_validate(estimator=model1,X=x_cross,y=y_cross,cv=5,return_train_score=True,scoring='neg_mean_squared_error')

In [258]:
output_cross_df2=pd.DataFrame({'Train_score':np.sqrt(np.abs(output_cross1['train_score'])),'Test_score':np.sqrt(np.abs(output_cross1['test_score']))})
output_cross_df2

   Train_score   Test_score
0   621.441031  1662.059218
1   607.629068  1620.526399
2   647.672455  1350.936685
3   626.083262  1366.471718
4   629.912394  1607.534190

In [259]:
print('Train_score_mean',output_cross_df2['Train_score'].mean())
print('Test_score_mean',output_cross_df2['Test_score'].mean())

Train_score_mean 626.547642241385
Test_score_mean 1521.5056418879005

In [260]:
model2=RandomForestRegressor(max_depth=21,n_estimators=100)
x_cross=ndf.drop('Price',axis=1)
y_cross=ndf.Price
n=round(len(y_cross)/5)
p=x_cross.shape[1]
output_cross2=cross_validate(estimator=model2,X=x_cross,y=y_cross,cv=5,return_train_score=True)
output_cross_df2=pd.DataFrame({'Train_score':output_cross2['train_score'],'Test_score':output_cross2['test_score'],
                                'adjusted_r2':1-(1-output_cross2['test_score'])*(n-1)/(n-p-1)})
output_cross_df2

   Train_score  Test_score  adjusted_r2
0     0.981236    0.869178     0.867188
1     0.981254    0.883653     0.881883
2     0.980310    0.915769     0.914488
3     0.981173    0.905048     0.903603
4     0.980329    0.876174     0.874290

In [261]:
print('Train_score_mean',output_cross_df2['Train_score'].mean())
print('Test_score_mean',output_cross_df2['Test_score'].mean())
print('adjusted_score_mean',output_cross_df2['adjusted_r2'].mean())

Train_score_mean 0.9808605087559696
Test_score_mean 0.8899645970505649
adjusted_score_mean 0.8882902590123425

In [262]:
from xgboost import XGBRegressor
model3=XGBRegressor()
x_cross=ndf.drop('Price',axis=1)
y_cross=ndf.Price
n=round(len(y_cross)/5)
p=x_cross.shape[1]

In [263]:
output_cross3=cross_validate(estimator=model3,X=x_cross,y=y_cross,cv=5,return_train_score=True,scoring='neg_mean_squared_error')
output_cross_df3=pd.DataFrame({'Train_score':np.sqrt(np.abs(output_cross3['train_score'])),'Test_score':np.sqrt(np.abs(output_cross3['test_score']))})
output_cross_df3

   Train_score   Test_score
0   824.249919  1548.136241
1   808.813075  1573.501734
2   830.739051  1397.925239
3   842.766475  1438.878325
4   798.741823  1600.182453

In [264]:
print('Train_score_mean',output_cross_df3['Train_score'].mean())
print('Test_score_mean',output_cross_df3['Test_score'].mean())

Train_score_mean 821.0620684020535
Test_score_mean 1511.7247982682447

In [265]:
output_cross4=cross_validate(estimator=model3,X=x_cross,y=y_cross,cv=5,return_train_score=True)
output_cross_df4=pd.DataFrame({'Train_score':output_cross4['train_score'],'Test_score':output_cross4['test_score'],
                                'adjusted_r2':1-(1-output_cross4['test_score'])*(n-1)/(n-p-1)})
output_cross_df4

   Train_score  Test_score  adjusted_r2
0     0.967629    0.892854     0.891223
1     0.968929    0.887864     0.886158
2     0.967563    0.907869     0.906468
3     0.967296    0.893403     0.891781
4     0.970024    0.879149     0.877310

In [266]:
print('Train_score_mean',output_cross_df4['Train_score'].mean())
print('Test_score_mean',output_cross_df4['Test_score'].mean())
print('adjusted_score_mean',output_cross_df4['adjusted_r2'].mean())

Train_score_mean 0.9682881704766558
Test_score_mean 0.8922278370003628
adjusted_score_mean 0.8905879372305158

In [267]:
ndf_test.columns

Index(['Duration', 'Total_Stops', 'Journey_month', 'Journey_day', 'Arrival',
       'Departure', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included', 'season_season',
       'season_vacation', 'day_type_peak_day'],
      dtype='object')

In [268]:
rf=RandomForestRegressor()
pred_ndf=rf.fit(xtrain2,ytrain2).predict(ndf_test)

In [ ]:
from sklearn.model_selection import cross_validate

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param={"max_depth":[2,3,4,5,6,7,8],"n_estimators":np.arange(100,500,20)}
param

In [ ]:
gs=GridSearchCV(estimator=rf,param_grid=param,scoring="r2",cv=5)
gs.fit(xtrain,ytrain)
gs.best_params_

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 80, stop = 2000, num = 20)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 150, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

In [ ]:
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_cross, y_cross)

In [ ]:
rf_random.best_params_

In [ ]:
rf_new=RandomForestRegressor(n_estimators= 484,
min_samples_split = 5,
min_samples_leaf=1,
max_features='auto',
max_depth=None,
bootstrap=True)
n=round(len(y_cross)/5)
p=x_cross.shape[1]
output_cross3=cross_validate(estimator=rf_new,X=x_cross,y=y_cross,cv=5,return_train_score=True)
output_cross_df3=pd.DataFrame({'Train_score':output_cross3['train_score'],'Test_score':output_cross3['test_score'],
                                'adjusted_r2':1-(1-output_cross3['test_score'])*(n-1)/(n-p-1)})
output_cross_df3

In [ ]:
print('Train_score_mean',output_cross_df3['Train_score'].mean())
print('Test_score_mean',output_cross_df3['Test_score'].mean())
print('adjusted_score_mean',output_cross_df3['adjusted_r2'].mean())

In [ ]:
params = { 'max_depth': [3, 5, 6, 10, 15, 20,80,100],
           'learning_rate': [0.01, 0.1, 0.2, 0.3],
           'subsample': np.arange(0.5, 1.0, 0.1),
           'colsample_bytree': np.arange(0.4, 1.0, 0.1),
           'colsample_bylevel': np.arange(0.4, 1.0, 0.1),
           'n_estimators': [100, 500, 1000]}
xgbr = XGBRegressor(seed = 20)
clf = RandomizedSearchCV(estimator=xgbr,
                         param_distributions=params,
                         cv=3,
                         n_iter=50,
                         verbose=1)
clf.fit(x_cross, y_cross)

In [ ]:
clf.best_params_

In [ ]:
xgb=XGBRegressor(subsample=0.8999999999999999,
n_estimators=100,
max_depth=10,
learning_rate=0.2,
colsample_bytree=0.5,
colsample_bylevel=0.7)
n=round(len(y_cross)/5)
p=x_cross.shape[1]
output_cross5=cross_validate(estimator=xgb,X=x_cross,y=y_cross,cv=5,return_train_score=True)
output_cross_df5=pd.DataFrame({'Train_score':output_cross5['train_score'],'Test_score':output_cross5['test_score'],
                                'adjusted_r2':1-(1-output_cross5['test_score'])*(n-1)/(n-p-1)})
output_cross_df5

In [ ]:
print('Train_score_mean',output_cross_df5['Train_score'].mean())
print('Test_score_mean',output_cross_df5['Test_score'].mean())
print('adjusted_score_mean',output_cross_df5['adjusted_r2'].mean())

In [271]:
from sklearn.model_selection import GridSearchCV

In [272]:
params2 = {'max_depth': [6,8,10,12,14,16,20],
           'learning_rate': [0.1,0.2],
           'colsample_bytree':[0.5],
           'colsample_bylevel':[0.7],
           'n_estimators': np.arange(60,200,20),
           'subsample':[0.8999999999999999]}
xgbr2 = XGBRegressor(seed = 20)
clf2 = GridSearchCV(estimator=xgbr2,param_grid=params2,cv=3,verbose=1)
clf2.fit(x_cross, y_cross)

Fitting 3 folds for each of 98 candidates, totalling 294 fits

GridSearchCV(cv=3,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    enable_categorical=False, gamma=None,
                                    gpu_id=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n...
                                    random_state=None, reg_alpha=None,
                                    reg_lambda=None, scale_pos_weight=None,
                                    seed=20, subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             param_grid={'colsample_bylevel': [0.7], 'colsample_bytree': [0.5],
                         'learning_rate': [0.1, 0.2],
                         'max_depth': [6, 8, 10, 12, 14, 16, 20],
                         'n_estimators': array([ 60,  80, 100, 120, 140, 160, 180]),
                         'subsample': [0.8999999999999999]},
             verbose=1)

In [273]:
clf2.best_params_

{'colsample_bylevel': 0.7,
 'colsample_bytree': 0.5,
 'learning_rate': 0.1,
 'max_depth': 10,
 'n_estimators': 180,
 'subsample': 0.8999999999999999}

In [295]:
model5=XGBRegressor(colsample_bylevel=0.7,
 colsample_bytree=0.5,
 learning_rate=0.1,
 max_depth=10,
 n_estimators=180,
 subsample=0.8999999999999999)

In [296]:
output_cross5=cross_validate(estimator=model5,X=x_cross,y=y_cross,cv=5,return_train_score=True)
output_cross_df5=pd.DataFrame({'Train_score':output_cross5['train_score'],'Test_score':output_cross5['test_score'],
                                'adjusted_r2':1-(1-output_cross5['test_score'])*(n-1)/(n-p-1)})
output_cross_df5

   Train_score  Test_score  adjusted_r2
0     0.985697    0.897901     0.896495
1     0.985818    0.898325     0.896925
2     0.985199    0.913264     0.912070
3     0.985986    0.908571     0.907312
4     0.986108    0.902765     0.901426

In [298]:
print('Train_score_mean',output_cross_df5['Train_score'].mean())
print('Test_score_mean',output_cross_df5['Test_score'].mean())

Train_score_mean 0.9857619210779258
Test_score_mean 0.9041650211620091

In [286]:
xgb=XGBRegressor(subsample=0.8999999999999999,
n_estimators=100,
max_depth=10,
learning_rate=0.1,
colsample_bytree=0.5,
colsample_bylevel=0.7)
x_cross1=ndf.loc[:,imp].drop('Price',axis=1)
y_cross1=ndf.Price
n=round(len(y_cross1)/5)
p=x_cross1.shape[1]
output_cross5=cross_validate(estimator=xgb,X=x_cross1,y=y_cross1,cv=5,return_train_score=True)
output_cross_df5=pd.DataFrame({'Train_score':output_cross5['train_score'],'Test_score':output_cross5['test_score'],
                                'adjusted_r2':1-(1-output_cross5['test_score'])*(n-1)/(n-p-1)})
output_cross_df5

   Train_score  Test_score  adjusted_r2
0     0.985244    0.889624     0.888104
1     0.986426    0.892112     0.890626
2     0.986359    0.910639     0.909409
3     0.987321    0.910073     0.908834
4     0.986722    0.890809     0.889305

In [287]:
print('Train_score_mean',output_cross_df5['Train_score'].mean())
print('Test_score_mean',output_cross_df5['Test_score'].mean())

Train_score_mean 0.9864144688479932
Test_score_mean 0.8986514431572843

In [277]:
ndf_test.head()

,Duration,Total_Stops,Journey_month,Journey_day,Arrival,Departure,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,...,Destination_Hyderabad,Destination_Kolkata,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,season_season,season_vacation,day_type_peak_day
0,115,1,6,6,4.0,17.0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,240,1,12,5,10.0,6.0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,165,1,5,21,19.0,19.0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,60,1,5,21,21.0,8.0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,170,0,6,24,2.0,23.0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [278]:
ndf.columns

Index(['Duration', 'Total_Stops', 'Price', 'Journey_month', 'Journey_day',
       'Arrival', 'Departure', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included', 'season_season',
       'season_vacation', 'day_type_peak_day'],
      dtype='object')

In [279]:
ndf.shape

(10682, 33)

In [280]:
ndf_test.columns

Index(['Duration', 'Total_Stops', 'Journey_month', 'Journey_day', 'Arrival',
       'Departure', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included', 'season_season',
       'season_vacation', 'day_type_peak_day'],
      dtype='object')

In [281]:
ndf_test.shape

(2671, 32)

In [282]:
set(ndf.columns)-set(ndf_test.columns)

{'Price'}

In [288]:
x_cross.shape

(10682, 32)

In [289]:
y_cross.shape

(10682,)

In [309]:
from sklearn.model_selection import train_test_split
xtrain_new,xtest_new,ytrain_new,ytest_new=train_test_split(x_cross,y_cross,random_state=100,test_size=0.2)

In [310]:
xgb2=XGBRegressor(colsample_bylevel=0.7,
 colsample_bytree=0.5,
 learning_rate=0.1,
 max_depth=10,
 n_estimators=180,
 subsample=0.8999999999999999)

In [311]:
xgb2.fit(xtrain_new,ytrain_new)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.7,
             colsample_bynode=1, colsample_bytree=0.5, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=180, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=0.8999999999999999,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [312]:
xgb2.score(xtrain_new,ytrain_new)

0.9854515507665066

In [313]:
xgb2.score(xtest_new,ytest_new)

0.914091426532357

In [314]:
ypred=xgb2.predict(xtest_new)

In [315]:
1 - np.sqrt(np.square(np.log10(ypred +1) - np.log10(ytest_new +1)).mean())

0.9445791567670234

In [320]:
ndf_test.shape

(2671, 32)

In [317]:
test_output = xgb2.predict(ndf_test)

In [318]:
predicted = pd.DataFrame(test_output, columns=['Price'])

In [319]:
predicted

             Price
0     14220.387695
1      4216.129395
2     12749.563477
3     11318.483398
4      4078.804199
...            ...
2666  10013.711914
2667   4539.925293
2668  16920.767578
2669  12526.262695
2670   8474.689453

[2671 rows x 1 columns]

In [321]:
predicted.to_csv('Price_Predicted.csv')

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dc=DecisionTreeRegressor(max_depth=25,random_state=10)

In [ ]:
dc.fit(xtrain,ytrain)

In [ ]:
Ypred=dc.predict(xtest)

In [ ]:
r2_score(ytest,Ypred)

In [ ]:
1 - np.sqrt(np.square(np.log10(Ypred +1) - np.log10(ytest +1)).mean())